<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Unit Converter</title>
</head>
<body>
<div class="box">
    <h5 class="top-left">Unit Converter</h5>
    <nav class="navbar">
        <ul>
            <li><a href="/length">Length</a></li>
            <li><a href="/weight">Weight</a></li>
            <li><a href="/temperature">Temperature</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
            
        {% endblock %}
    </main>
</div>

</body>
</html>